.card {
  width: 30%;
  border-radius: 1em;
  background-color: gainsboro;
  padding: 1em;
  text-align: center;
  box-shadow: 1px 1px 5px 0px rgb(19, 113, 236);
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: #96b3a8;
}
.button2 {
  background-color: rgb(19, 113, 236);
}
