h1 {
  color: #3a3a4d;
}
table {
  border-collapse: collapse;
  width: 100%;
}

thead th:first-child {border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

thead th:last-child {border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}



th,
td {
  text-align: left;
  padding: 10px;
  border-collapse: collapse;
}

tr {
  border-radius: 250%;
}

th {
  background-color: #0ca2ed;
  color: white;
}
tr:nth-child(even) {
  background-color: #fcfcfc;
}
tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.vencido {
  display: inline-block;
  background-color: #fdcdcd;
  color: #ff0000;
  border-radius: 1em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}
.quitado {
  display: inline-block;
  background-color: #c7ecd4;
  color: #00c247;
  border-radius: 1em;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}

td.acao {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button.editar {
  background-color: white;
  color: #3cb7d6;
  border-color: #3cb7d6;
  border-radius: 15%;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
button.excluir {
  background-color: white;
  color: #ff0000;
  border-color: #ff0000;
  border-radius: 15%;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
